html,body {
    margin:0;
    padding:0;
    }
a {
color: white;
text-decoration: none;
}
a:hover {
color:white; 
text-decoration:none; 
cursor:pointer;  
}
.header {
    height: 50px;
    flex-direction: row;
    position:relative;
    padding-top: 20px;
    top:0px;
    margin:0;
    width: 100%;
    text-align: center;
    background-color: #323232;
    color: white;
    font-size: 20px;
  }
.headerText {
    margin:0;
    padding:0;
    font-family: SFUIText,Helvetica Neue,sans-serif;
    float:left;
    margin-left: 25px;
    font-weight: 300;
}
.headerTextRight {
    margin:0;
    padding:0;
    font-family: SFUIText,Helvetica Neue,sans-serif;
    float:right;
    color:#F4B400;
    margin-right: 25px;
    font-weight: 400;
}
.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:480px) {
    .cards{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .card{
        margin-top:20px;
        padding: 5px;
        width: 100%;
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 25px;
    }
}
@media screen and (min-device-width:481px ) and (max-device-width:768px) {
    .cards{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:20px;
        grid-auto-rows: minmax(65vh,auto); 
    }
    .card{
        margin-top:20px;
        padding: 5px;
        width: 100%;
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 25px;
    }
    
}
@media screen and (min-width:769px) {
    .cards{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:20px;
        grid-auto-rows: minmax(60vh,auto); 
    }
    .card{
        margin-top:20px;
        padding: 5px;
        width: 100%;
        box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 25px;
    }
    
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.cardTitle{
    width:80%;
    padding: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border:none;
    outline:none;
    padding:1rem;
    border-radius: 20px;
    color:#323232;
    font-size:30px;
    font-family: SFUIText,Helvetica Neue,sans-serif;
    font-weight: 400;
}
.cardBody{
    width: 80%;
    min-height: 40%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    font-family: SFUIText,Helvetica Neue,sans-serif;
    font-weight: 300;
}
.addNote{
    width:100%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border:none;
    background-color: white;
    color:#DB4437;
    box-shadow: 0 4px 12px 0 rgba(255,0,0,0.2);
    font-size: 20px;
    font-family: SFUIText,Helvetica Neue,sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
}
.addNote:hover{
    background-color: #DB4437;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(255,0,0,0.2);
}
.deleteNote{
        width:100%;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border:none;
        background-color: white; 
        box-shadow: 0 4px 12px 0px rgba(255,0,0,0.2);
        font-size: 20px;
        font-family: SFUIText,Helvetica Neue,sans-serif;
        font-weight: 500;
        margin-bottom: 20px;
}